
a{
    text-decoration: none;
    color:0;
}

a:hover{
    color:red;
}

body {
    background-color: #f4f4f4;
    font-family: 'Courier New', Courier, monospace;
    margin: 0;
}

.container{
    width: 80%;
    margin: auto;
}

.box-1 {
    background-color: #333;
    color: #fff;

    border: 5px red solid;
}

.box-2{
    border: 3px dotted #ccc;
    padding: 20px;
    margin: 20px 0;
}

.categories {
    border: 1px #ccc solid;
    padding: 10px;
    border-radius: 15px;
}

.container h2 {
    text-align:center;
}

.my-form{
    padding: 20px;
}

.my-form .form-group{
    padding-bottom:15px;
}

.my-form label{
    display:block;
}